@use '../partials/variables' as v;

// Make mixin of a common button style
@mixin btnstyle {
    background-color: v.$green;
    color: white;
    border-radius: 1.5rem;
    padding: 0.7rem 1.5rem;
    border: none;
}
